{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  a:link {
        text-decoration: none;
      }
    
  </style>
</head>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
    <h2>Add Question</h2>
    {%csrf_token%}
    <div class="form-group">
        <label for="question">Select course *</label>
      {% render_field questionForm.courseID|attr:'required:true' class="form-control" placeholder="" %}
        <br>

      <label for="question">Add question below *</label>
      {% render_field questionForm.question|attr:'required:true' class="form-control" placeholder="" %}
        <br>
      <label for="question_number">Add marks for this question *</label>
      {% render_field questionForm.marks|attr:'required:true' class="form-control" placeholder="" %}
        <br>
      <label for="option1">Option 1 *</label>
      {% render_field questionForm.option1|attr:'required:true' class="form-control" placeholder="" %}
        <br>
      <label for="option2">Option 2 *</label>
      {% render_field questionForm.option2|attr:'required:true' class="form-control" placeholder="" %}
        <br>
      <label for="option3">Option 3</label>
      {% render_field questionForm.option3|attr:'required:false' class="form-control" placeholder="" %}
        <br>
      <label for="option4">Option 4</label>
      {% render_field questionForm.option4|attr:'required:false' class="form-control" placeholder="" %}
        <br>
      <label for="answer">Right answer *</label>
      {% render_field questionForm.answer|attr:'required:true' class="form-control" %}
    </div>
    

    <button type="submit" style="float: right;" class="btn btn-primary">Submit</button>
  </form>
<br><br><br>
{% endblock content %}
