<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>
<body>
  {% include "quiz/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron full_height jumbotron-fluid d-flex justify-content-center align-items-center">
  <div class="container text-center">
    <h1 class="display-1 text-info">titiktemu</h1>
    <p class="display-4 d-none d-sm-block"></p>
    <!-- <p class="lead">We organize quizzes on various topics.</p> -->

    

    <p class="lead">Connect to any expert, and grow with them!</p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="{% url 'studentlogin' %}" role="button">Login <i style="font-size: 14px; padding: 0; width: auto;" class="fa fa-sign-in" aria-hidden="true"></i></a>
      <a class="btn btn-primary btn-sm" href="{% url 'studentsignup' %}" role="button">Sign me up <i style="font-size: 14px; padding: 0; width: auto;" class="fa fa-user-plus" aria-hidden="true"></i></a>
    </p>
    
    <br><br><br>
  </div>  
</section>
  {% include "quiz/footer.html" %}


</body>

</html>
